.bg-gray {
	background-color: #f3f4f6 !important;
}

.login-logo {
	position: absolute;
	width: 15%;
	right: 0;
	top: 0;
}

.login-container {
	width: 90%;
}

@media screen and (min-width: 450px) {
	.login-container {
		width: 60%;
	}
}

@media screen and (min-width: 769px) {
	.login-container {
		width: 60%;
	}
}

@media screen and (min-width: 1200px) {
	.login-container {
		width: 500px;
	}
}
