<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/header.ejs", { titulo: "Dashboard - SB Admin"
		})%>
	</head>
	<body class="sb-nav-fixed">
		<%- include("../partials/navbar.ejs")%>
		<div id="layoutSidenav">
			<%- include("../partials/sidebar.ejs", {rol, pagina})%>
			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid px-4">
						<h1 class="mt-4">Dashboard</h1>
						<div class="row"></div>
					</div>
				</main>
				<%- include("../partials/footer.ejs") %>
			</div>
		</div>
	</body>
</html>
