<div
	class="modal fade"
	id="agregar-modal"
	tabindex="-1"
	data-bs-focus="false"
	aria-labelledby="agregarVehiculoModal"
	aria-hidden="true"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
>
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
		<form class="modal-content" id="agregar-form">
			<div class="modal-header bg-dark text-white">
				<h5 class="modal-title" id="agregarModal">Pago</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<div class="row mb-1">
					<div class="d-flex justify-content-center">
						<span id="cliente">Cliente: Pepe el grillo</span>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col">
						<div class="d-flex justify-content-center">
							<span id="total">Monto: $500</span>
						</div>
					</div>
					<div class="col">
						<div class="d-flex justify-content-center">
							<span id="pagado">Total pagado: $0</span>
						</div>
					</div>
					<div class="col">
						<div class="d-flex justify-content-center">
							<span id="restante">Total restante: $0</span>
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-12 col-md-6 mb-3">
						<label for="monto" class="form-label">Monto</label>
						<input
							type="number"
							class="form-control"
							id="monto"
							name="monto"
							autocomplete="off"
							required
							max="60000"
							min="600"
							placeholder="$"
							step="any"
						/>
					</div>
					<div class="col-12 col-md-6 mb-3">
						<label for="fecha" class="form-label">Fecha</label>
						<input
							type="datetime-local"
							class="form-control"
							id="fecha"
							name="fecha"
							autocomplete="off"
							required
						/>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-12 table-responsive">
						<table id="tabla-pagoreal">
							<thead>
								<tr>
									<th>Monto ($)</th>
									<th>Fecha</th>
								</tr>
							</thead>
							<tbody id="tbody-pagoreal"></tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal"
					id="btn-cerrar"
				>
					<i class="bi bi-x-circle"></i>
					Cerrar
				</button>
				<button
					type="submit"
					class="btn btn-primary text-white"
					id="btn-agregar"
				>
					<i class="bi bi-check-square" id="icono-editar"></i>
					<span id="btn-texto">Agregar</span>
				</button>
			</div>
		</form>
	</div>
</div>
