<div
	class="modal fade"
	id="agregar-baja-modal"
	tabindex="-1"
	data-bs-focus="false"
	aria-labelledby="agregarBajaModal"
	aria-hidden="true"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
>
	<div class="modal-dialog modal-lg">
		<form class="modal-content" id="agregar-baja-form">
			<div class="modal-header bg-dark text-white">
				<h5 class="modal-title" id="agregarBajaModal">Depreciación de activo</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				
				<div class="row">
					<div class="col-12 col-md-6 mb-3">
						<label for="activo" class="form-label">Activo</label>
						<input
							type="text"
							class="form-control"
							id="activo"
							name="activo"
							autocomplete="off"
							
							
						/>
					</div>
					<div class="col-12 col-md-6 mb-3">
						<label for="vidautil" class="form-label"
							>Vida util</label
						>
						<input type="text" class="form-control bg-white"
						id="vidautil"
						name="vidautil"
						autocomplete="off"
						disabled>

						</input>
						
					</div>
					
					<!-- <div class="col-12 col-md-6 mb-3">
						<label for="mensual" class="form-label">Depreciación mensual</label>
						<input class="form-control"
						type="text"
						id="mensual"
						name="mensual"
						autocomplete="off"
						required>

						</input>
						
					</div> -->
					<div class="col-12 col-md-6 mb-3">
						<label for="dfechadq" class="form-label"
							>Fecha de adquisición</label
						>
						<input type="text" class="form-control bg-white"
						id="dfechadq"
						name="dfechadq"
						autocomplete="off"
						disabled>

						</input>
						
					</div>
					<div class="col-12 col-md-6 mb-3">
						<label for="dfechadq" class="form-label"
							>Fecha estimada de vida útil</label
						>
						<input type="text" class="form-control bg-white"
						id="dfechasal"
						name="dfechasal"
						autocomplete="off"
						disabled>

						</input>
						
					</div>
					
					
				</div>
				<table id="tabla-depreciacion" class="table table-striped">
					<thead>
						<tr>
							<th>Año</th>
							<th>Valor de depreciacion</th>
							<th>Valor del activo</th>
							
						</tr>
					</thead>
					<tbody id="tbody-depreciacion"></tbody>
				</table>
				<hr/>
				<h5>Dar de Baja</h5>
				<div class="row">
					
					<div class="col-12 col-md-6 mb-3">
						<label for="motivo" class="form-label">Motivo</label>
						<textarea class="form-control"
						id="motivo"
							name="motivo"
						autocomplete="off"
						required></textarea>
						
					</div>
					<div class="col-12 col-md-6 mb-3">
						<label for="observacion" class="form-label"
							>Observación</label
						>
						<textarea class="form-control"
						id="observacion"
						name="observacion"
						autocomplete="off"
						required="required"></textarea>
						<button
					type="submit"
					class="btn btn-danger text-white mt-2"
					id="btn-agregar-baja"
				>
					<i class="bi bi-check-square" id="icono-editar"></i>
					<span id="btn-darbaja"> Dar de baja </span>
				</button>
						
					</div>
					
				</div>
				
				
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal"
					id="btn-cerrar"
				>
					<i class="bi bi-x-circle"></i>
					Cerrar
				</button>
				
			</div>
		</form>
	</div>
</div>
